Flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-Limiter==3.5.0
Flask-Caching
Flask-SocketIO==5.3.5
python-socketio==5.10.0
python-dotenv
pandas
openpyxl
bleach
sentry-sdk[flask]
redis
marshmallow==3.20.1
marshmallow-sqlalchemy==0.29.0
eventlet==0.33.3
PyJWT==2.8.0
flask-swagger-ui
gunicorn

